body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    background-color: #ffffff;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.banner-image {
    height: 100%;
}

.banner-text {
    font-size: 1.5em;
    margin-left: 20px;
}

.banner-nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.content {
    margin-top: 15vh;
    padding: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.section {
    margin-bottom: 20px;
    text-align: center;
}

.section h2 {
    margin-top: 0;
}

.section img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: blue;
}

.carousel-button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
}

.carousel-content {
    width: 80%;
    text-align: center;
}

.testimonial {
    display: none;
}

.testimonial.active {
    display: block;
}